@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
    max-width: 1280px;
}
.all-page::before,
.home-video {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
}
.home-video {
    object-fit: cover;
    filter: brightness(80%) contrast(100%);
}
.no-copy {
    user-select: none;
}