@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
  max-width: 1280px;
}
.all-page::before,
.home-video {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}
.home-video {
  object-fit: cover;
  filter: brightness(80%) contrast(100%);
}
.no-copy {
  user-select: none;
}
.map-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5); /* qoraroq fon */
  pointer-events: auto;
  z-index: 500;

  /* mask-styling bilan faqat O'zbekiston ochiq bo'ladi */
  mask-image: url("/uzb-mask.png");
  mask-size: cover;
  mask-repeat: no-repeat;
  mask-position: center;

  /* Safari uchun */
  -webkit-mask-image: url("/uzb-mask.png");
  -webkit-mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
